{% extends 'layout.html' %}

{% block content %}

    <h1>Gym Management System</h1>
    <ul>
        <li><a href="/members">Member Table</a></li>
        <li><a href="/memberships">Memberships Table</a></li>
         <li><a href="/staff">Staff</a></li>
         <li><a href="/trainers">Trainers</a></li>
         
         <li><a href="/classes">Classes</a></li>

         <!-- TO DO: Implement CRUD for all of these -->
         <li><a href="payments">Payments</a></li>
         <li><a href="/equipment">Equipment</a></li>
    </ul>

{% endblock %}