{% extends 'layout.html' %}

{% block content %}
<h1>Memberships</h1>
<table>
    <thead>
        <tr>
            {% for col in rows[0].keys() %}
                <th>{{ col.replace('_', ' ').title() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for value in row.values() %}
                <td>{{ value if value is not none else "N/A" }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
