{% extends 'layout.html' %}

{% block content %}
<h1>Memberships</h1>

<div class="table-container">
    {% if rows and rows|length > 0 %}
    <table>
        <thead>
            <tr>
                {% for col in rows[0].keys() %}
                    <th>{{ col.replace('_', ' ').title() }}</th>
                {% endfor %}
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value if value is not none else "N/A" }}</td>
                {% endfor %}
                    <td class="actions">
                        <a href="/membership_page/{{ row['membership_id'] }}">Membership Page</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No memberships found.</p>
    {% endif %s}
</div>

<a href="/add_membership">Add a Membership</a>

{% endblock %}
