{% extends 'layout.html' %}

{% block content %}
    <h1>Members</h1>

    
    <h2>All Members</h2>
    <div class="table-container">
        {% if all_members_rows and all_members_rows|length > 0 %}
        <table>
        <thead>
            <tr>
                {% for col in all_members_rows[0].keys() %}
                    <th>{{ col.replace('_', ' ').title() }}</th>
                {% endfor %}
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in all_members_rows %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value if value is not none else "N/A" }}</td>
                {% endfor %}
                <td class="actions">
                <a href="/member_page/{{ row['member_id'] }}">Member Page</a>
                <a href="/edit_member/{{ row['member_id'] }}">Edit</a>
                <a href="/delete_member/{{ row['member_id'] }}" onclick="return confirm('Are you sure you want to delete this member?');">Delete</a>
                <a href="/assign_membership/{{ row['member_id'] }}">Assign Membership</a>
                {% if row['status'] == 'Active' %}
                    <a href="/deactivate_member/{{ row['member_id'] }}" onclick=
                    "return confirm('Deactivate this member?');">Deactivate</a>
                {% else %}
                    <span style="color: gray;">Inactive</span>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% else %}

    <p style="text-align:center;">No members found.</p>

    {% endif %}
    </div>

    <h2>Add Member</h2>
<a href="/add_member">Add Member</a>

{% endblock %}